* { margin: 0; padding: 0; box-sizing: border-box;}

body {font-family: 'Helvetica Neue', Roboto, Arial;background:#ffffff; background-color: #201E1E;}

/* Styling for the top navifgation and social media icons */

.navigation{width: 100%; height: auto; background:#201E1E; color: white;}

.logo-image{max-width:100%; max-height: 100%;}

.social_media_icons ul li {display: inline-block;padding: 15px;float: right ; font-size: 16px;text-decoration: none;}

.social_media_icons a{color: #CC9900; cursor: pointer;border-radius: 2px;font-size: 20px;text-align: center;}

.social_media_icons a:hover{background-color:#ffffff;transition:0.2s;color:#CC9900;}

.social_media_icons a.active{background-color:#EAF0F2;}

nav a {
    position: relative;
    display: inline-block;
    margin: 25px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}

nav a:hover, nav a:focus {outline: none;}

.ij-effect-20 a {line-height: 2em;-webkit-perspective: 800px;perspective: 800px;}

.ij-effect-20 a span {
    position: relative;
    display: inline-block;
    padding: 3px 15px 0;
    background: #F58634;
    box-shadow: inset 0 3px #000000;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.ij-effect-20 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ED3237;
    color: #000000;
    font-weight: bold;
    text-align: center;
    content: attr(data-hover);
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    transform: rotateX(270deg);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
}

.ij-effect-20 a:focus span {background: #000000;}

.ij-effect-20 a:hover span::before, .ij-effect-20 a:focus span::before {-webkit-transform: rotateX(10deg);  -moz-transform: rotateX(10deg);transform: rotateX(10deg);}

.social-media-icons{float: right;}

.navigation ul li {display: inline-block; padding: 5px; font-size: 20px;text-decoration: none;}

/* Banner section */
.banner_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    background-color: #ffffff;
    text-align: center;
    }

.banner-image{
    position: relative;
    width: 100%;
    height: 150%;
}

.banner-header {
    position: absolute;
    font-family: 'Cinzel', sans-serif;
    font-size: 4vw;
    color: #000000;
    top: 20%;
    left: 30%;
 }

 .banner-second-header {
    position: absolute;
    font-family: 'Cinzel', sans-serif;
    font-size: 4vw;
    color: #000000;
    top: 35%;
    left: 26%;
 }

.banner-third-header {
    position: absolute;
    color: #CC9900;
    font-family: 'Cinzel', sans-serif;
    font-size: 3vw;
    top: 70%;
    left: 35%;
}

.banner-third-header a{
    color:inherit;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #CC9900;
    padding: 5px 5px;
    border-radius: 3px;
   }

.banner-third-header a:hover{
    background-color:#CC9900;
    transition:0.2s;
    color:#fff;
}

/* Styling for the content */

.product-column{
  float:left;
  width: 33.33%;
  padding: 10px;
  height: 450px;
}

.product-column-child{
    height: 90%;
    width:90%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-family: 'Roboto Thin';
    font-size: 1.1em;
}

.product-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px){
  .product-column {
    width: 100%;
  }
}

/* Slideshow container */
        .slideshow-container {
          max-width: 220px;
          position: relative;
          margin: auto;
        }
        
        /* Caption text */
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 15px;
          width: 100%;
          text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
          color: #ED3237;
          font-size: 12px;
          padding-left: 20%;
          position: absolute;
          top: 0;
        }

        /* The dots/bullets/indicators for the first content-column */
        .dot {
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #ED3237;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .dot1 {
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #ED3237;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.8s ease;
        }

        .active {
          background-color: #F58634;
        }

        /* Fading animation */
        .fadeit {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 6.5s;
          animation-name: fade;
          animation-duration: 6.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
          .text {font-size: 11px}
        }

/* Styling for the graphics design slide show */

.slide-container{max-width: 250px;position: relative; margin: auto; text-align: center; color: white;}

.theslides{position: absolute;}

.fadein img{
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 30s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {-webkit-animation-delay: -24s;}

#f2 {-webkit-animation-delay: -20s;}

#f3 {-webkit-animation-delay: -16s;}

#f4 {-webkit-animation-delay: -12s;}

#f5 {-webkit-animation-delay: -8s;}

#f6 {-webkit-animation-delay: -4s;}

/* Styling for the IT hardware slide show */
.fadein1 img{
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 16s;
}


#d1 {-webkit-animation-delay: -12s;}

#d2 {-webkit-animation-delay: -8s;}

#d3 {-webkit-animation-delay: -4s;}


/* Styling for the footer */


.clearfooter {
    clear: both;
    }

.footer-iekon{
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.footer-top{
    position: relative;
    display: inline-block;
    background-color: #3F71AE;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border: #000000 solid 1px;
    width: 100%;
}

.footer-contact-details ul li a i {
    text-decoration: none;
}

.footer-right {
   float: right;
   width: 50%;
   height: 250px;
}

.footer-middle h2{
    padding-top: 15px;
}

.footer-middle ul li {
    display: inline-block;
    padding: 15px;
}

.footer-middle a{
    color: #000000; 
    cursor: pointer;
    font-size: 4vw;
}

.footer-bottom ul li {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

.footer-bottom{
    background-color:#000000;
    color: #ffffff;
    height: 100%;
}


@media screen and (max-width: 600px){
  .footer-column {
    width: 100%;
  }
}

.form-style-1 {
    margin:2px auto;
    max-width: 100% ;
    padding: 5px 6px 5px 5px;
    font: 13px "Roboto", "Roboto Thin", sans-serif;
    text-align: center;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 2px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=datetime-local],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:5px;
    font: 2vw "Roboto", "Roboto Thin";
    font-weight: bold;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=datetime-local]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 input[type=checkbox]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #CB0708;
    -webkit-box-shadow: 0 0 8px #CB0708;
    box-shadow: 0 0 8px #CB0708;
    border: 1px solid #CB0708;
}

.form-style-1 .field-long{
    width: 70%;
    height: 35px;
    border-radius: 15px;
    color: #000000;
    text-align: center;
}

.form-style-1 .field-textarea{
    width: 70%;
    border-radius: 15px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #CB0708;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.label-headings{
    margin-top : 20px;
    font-size: 15px;
    color: #CB0708;
}

.footer-button{
    border-radius: 3px;
    background-color:  #00AEF3;
    color: #ffffff;
    border: 0;
    padding: 10px 10px;
    font-weight: bold;
    font: normal 14px 'Cinzel';
    cursor: pointer;
    float: center;
}

/* Makng the website mobile responsive */

@media screen and (max-width: 878px){
  .footer-column {
    width: 100%;
  }
  .footer-right , .ij-effect-20 {display: none;}
}




